.vscode
*.o
*.Po
depcomp
ltmain.sh
traces.*
clearbounds
cleartiles
gentiles
.dirstamp
Makefile
libtool
install-sh
config.*
configure
compile
aclocal.m4
missing
output.*
requests
*.m4
Makefile.in
warp-sabre
